{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block content %}

<!-- Start Top Bar -->
<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Woke</li>
        <li class="has-submenu">
          <a href="#">Login</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">Login</a></li>
            <li><a href="#">My Profile</a></li>
          </ul>
        </li>
        <li><a href="#">Congress Members</a></li>
        <li><a href="#">Bills</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="zip"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>
<!-- End Top Bar -->

<div class="row">
  <div class="text-center">
    <h1>Woke</h1>
  </div>
</div>
<div class="row">
  <!--<div class="large-12 columns">-->
    <div class= "medium-5 small-4 columns">
      <h4> Members </h4>
        <label>
        Search
        <textarea placeholder="Member Name"></textarea>
        </label>
          <button class="button">Search</button>

      <ul>
        {% for element in members %}
        <li>
          <article class="article-card">
             <h5 class="post-member">{{element.member}}</h5>

              <img class="thumbnail" src="http://placehold.it/200x200">
             <p>{{element.state}}</p>
             <p>{{element.party}}</p>
             <p>{{element.served}}</p>
             <p>{{element.district}}</p>
          </article>
        </li>
        {% endfor %}
     </ul>
    </div>
    <div class="medium-5 small-4 columns" id="bills">
      <h4> Bills </h4>
        <label>
        Search
        <textarea placeholder="Bill Name"></textarea>
        </label>
          <button class="button">Search</button>
      <ul>
        {% for bill in bills %}
        <li>
          <article class="article-card">
            <h5 class="post-bill">{{ bill.billTitle }}</h5>
            <p>{{bill.billHeading}}</p>
            <p>{{bill.committees}}</p>
            <p>{{bill.sponser}}</p>
            <p>{{bill.latestAction}}</p>
          </article>
        </li>
        {% endfor %}
<!--    {{ content }} -->
      </ul>
    </div>
  <!--</div>-->
</div>





<div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Members</a></li>
        <li class="tabs-title"><a href="#panel2">Bills</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h4>Members</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
            {% for element in members %}
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>{{ element.member }}</h5>
              <p>{{element.state}}</p>
            {% endfor %}
            </div>
          </div>

          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
            </div>
          </div>
          <label>
            Search
            <textarea placeholder="Member Name or State"></textarea>
          </label>
          <button class="button">Search</button>
        </div>
        <div class="tabs-panel" id="panel2">
          <div class="row medium-up-3 large-up-5">
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}





{% block scripts %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}
