{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block content %}


<div class="row">
  <div class="text-center">
    <h1>Woke</h1>
  </div>
</div>
<div class="row">
    <div class= "medium-4 small-4 columns" >
       <h4> Hot Topics </h4>
       <ul>
        <!-- for each bill in the query which is currently committee of Natrual Resources -->
        {% for h in hot %}
        <li>
          <!-- use this for css so each bill will have a boarder -->
          <article class="article-card">
            <!-- display all the data for each bill. Not displaying text because its just not practical right now -->
            <h5 class="post-bill" ><a href='/hot/?title={{h.billTitle}}'>{{ h.billTitle }}</a></h5>
            <p>{{h.committee}}</p>
            <p>{{h.sponser}}</p>
            <p>{{h.latestAction}}</p>
          </article>
        </li>
        {% endfor %}
      </ul>
 
    </div>
    <!-- creating a column for congress memebers -->
    <div class= "medium-4 small-4 columns">
      <h4> Members </h4>
         <form action"" method="post">
         {% csrf_token %}
         <div>
            {{ form.errors }}
            {{ form.memberSearch.label }}
            {{ form.memberSearch }}
         </div>
          <input type="submit" value="Search" class="button">
         </form>
      <ul>
        <!-- for all the elements in the query which is currently members that represent california -->
        {% for element in members %}
        <li>
          <!-- use this for css so they will have boarders -->
          <article class="article-card">
             <!-- display all the data for each member -->
             {% for name in element.member %}
             <h5 class="post-member">{{name}}</h5>
             {% endfor %}
<!--"http://placehold.it/200x200"--> 
             {% for suburl in  element.url  %}
              <img class="thumbnail" id="memberImage" src="https://www.congress.gov{{suburl}}">
             {% endfor %} 
             {% for state in element.state %}
             <p>{{state}}</p>
             {% endfor %}
             {% for party in element.party %}
             <p>{{party}}</p>
             {% endfor %}
             {% for served in element.served %}
             <p>{{served}}</p>
             {% endfor %}
             {% for district in element.district %}
             <p>{{district}}</p>
             {% endfor %}
          </article>
        </li>
        {% endfor %}
     </ul>
    </div>
    <!-- creating a column for bills -->
    <div class="medium-4 small-4 columns" id="bills">
      {% if user.is_authenticated %}
      <h4> Bills you may be interested in </h4>
      <ul class="dropdown menu" data-dropdown-menu>
         <h5> Search By Committee </h5>
          <li>
           <a href="#">Search By Committee</a>
         <ul class="menu">
         <li><a class="button round" href="?committee=House - Natural Resources">Natural Resources</a></li>
         <li><a  class="button round" href="/?committee=House - Science, Space, and Technology">Science, Space, and Technology</a></li>
         <li><a  class="button round" href="/?committee=House - Ways and Means">Ways and Means</a></li>
         <li><a  class="button round" href="/?committee=House - Agriculture">Agriculture</a></li>
         <li><a  class="button round" href="/?committee=House - Appropriations">Appropriations</a></li>
         <li><a  class="button round" href="/?committee=House - Armed Services">Armed Services</a></li>
         <li><a  class="button round" href="/?committee=House - Budget">Budget</a></li>
         <li><a  class="button round" href="/?committee=House - Education and the Workforce">Education and the Workforce</a></li>
         <li><a  class="button round" href="/?committee=House - Energy and Commerce">Energy and Commerce"</a></li>
         <li><a  class="button round" href="/?committee=House - Ethics">Ethics</a></li>
         <li><a  class="button round" href="/?committee=House - Oversight and Government Reform">Oversight and Government Reform</a></li>
         <li><a  class="button round" href="/?committee=House - Rules">Rules</a></li>
         <li><a  class="button round" href="/?committee=House - Small Business">Small Business</a></li>
         <li><a  class="button round" href="/?committee=House - Transportation and Infrastructure">Transportation and Infrastructure</a></li>
         <li><a  class="button round" href="/?committee=House - Veterans' Affairs">Veterans Affairs</a></li>
         <li><a  class="button round" href="/?committee=Senate - Banking, Housing, and Urban Affairs">Banking, Housing, and Urban Affairs</a></li>
         <li><a  class="button round" href="/?committee=Senate - Commerce, Science, and Transportation">Commerce, Science, and Transportation</a></li>
         <li><a  class="button round" href="/?committee=Senate - Energy and Natural Resources">Energy</a></li>
         <li><a  class="button round" href="/?committee=Senate - Environment and Public Works">Environment and Public Works</a></li>
         <li><a  class="button round" href="/?committee=Senate - Finance">Finance</a></li>
         <li><a  class="button round" href="/?committee=Senate - Foreign Relations">Foreign Relations</a></li>
         <li><a  class="button round" href="/?committee=Senate - Health, Education, Labor, and Pensions">Health, Education, Labor, and Pensions</a></li>
         <li><a  class="button round" href="/?committee=Senate - Homeland Security and Governmental Affairs">Homeland Secuirty and Governmental Affairs</a></li>
         </ul>
         </li>
      </ul>
      <ul>
        <!-- for each bill in the query which is currently committee of Natrual Resources -->
        {% for bill in bills %}
        <li>
          <!-- use this for css so each bill will have a boarder -->
          <article class="article-card">
            <!-- display all the data for each bill. Not displaying text because its just not practical right now -->
            {% for title in bill.billTitle %}
            <h5 class="post-bill" ><a href='/text/?title={{title}}'>{{ title }}</a></h5>
            {% endfor %}
            {% for heading in bill.billHeading %}
            <p>{{heading}}</p>
            {% endfor %}
            {% for committee in bill.committees %}
            <p>{{committee}}</p>
            {% endfor %}
            {% for sponser in bill.sponser %}
            <p>{{sponser}}</p>
            {% endfor %}
            {% for action in bill.latestAction %}
            <p>{{action}}</p>
            {% endfor %}
          </article>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <h4> Log in to customize home page </h4>
          <article class="article-card">
              <p> See your interests here </p>
              <br>
              <p> Get the app!! </p>
          </article>
      {% endif %}
    </div>
    
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}
