{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block content %}

<!-- Start Top Bar Thank you Foundation 6 templates
<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text" href={{home}}>Woke</li>
        <li class="has-submenu">
          <a href="#">Login</a>
          <ul class="submenu menu vertical" data-submenu>
            {% if user.is_authenticated %}
            <li><a href="logout">Logout</a></li>
            {% else %}
            <li><a href="login">Login</a></li>
            {% endif %}
            <li><a href="#">My Profile</a></li>
          </ul>
        </li>
        <li><a href={{member_page}}>Congress Members</a></li>
        <li><a href="#">Bills</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="zip"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>
 End Top Bar -->

<div class="row">
  <div class="text-center">
    <h1>Woke</h1>
  </div>
</div>
<div class="row">
    <!-- creating a column for congress memebers -->
    <div class= "medium-5 small-4 columns">
      <h4> Members </h4>
        <label>
        Search
        <textarea placeholder="Member Name"></textarea>
        </label>
          <button class="button">Search</button>

      <ul>
        <!-- for all the elements in the query which is currently members that represent california -->
        {% for element in members %}
        <li>
          <!-- use this for css so they will have boarders -->
          <article class="article-card">
             <!-- display all the data for each member -->
             <h5 class="post-member">{{element.member}}</h5>

              <img class="thumbnail" src="http://placehold.it/200x200">
             <p>{{element.state}}</p>
             <p>{{element.party}}</p>
             <p>{{element.served}}</p>
             <p>{{element.district}}</p>
          </article>
        </li>
        {% endfor %}
     </ul>
    </div>
    <!-- creating a column for bills -->
    <div class="medium-5 small-4 columns" id="bills">
      <h4> Bills </h4>
        <label>
        Search
        <textarea placeholder="Bill Name"></textarea>
        </label>
          <button class="button">Search</button>
      <ul>
        <!-- for each bill in the query which is currently committee of Natrual Resources -->
        {% for bill in bills %}
        <li>
          <!-- use this for css so each bill will have a boarder -->
          <article class="article-card">
            <!-- display all the data for each bill. Not displaying text because its just not practical right now -->
            <h5 class="post-bill">{{ bill.billTitle }}</h5>
            <p>{{bill.billHeading}}</p>
            <p>{{bill.committees}}</p>
            <p>{{bill.sponser}}</p>
            <p>{{bill.latestAction}}</p>
          </article>
        </li>
        {% endfor %}
      </ul>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}
