{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block content %}


<div class="row">
  <div class="text-center">
    <h1>Woke</h1>
  </div>
</div>
<div class="row center">
    <div class="Large-6 small-6 Large-centered small-centered columns" id="bills">
      <h4 class="center"> {{billTitle}} </h4>
        <p>{{billText}}</p>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}
